/* css main */
body{
  background-color: azure;
}

img{
  width: 200px;
}

code{
  font-size: 87.5%;
  color: #c22c72;
  word-wrap: break-word;
}

/* responsive table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.scroll-table{
  overflow-x:auto;
}

.bootstrap, .other, .sql, 
.javascript, .webserver, .linkweb, 
.webtoolonline{
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a{
  color: #0665d0;
  text-decoration: none;
  background-color: transparent;
  transition: color .12s ease-out;
}

a:hover{
  color: #03356d;
  text-decoration: none;
  width: 100%;
}

.link-fx::before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #0665d0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}